*{
margin:0;
padding:0;
box-sizing:border-box;

}

:root{

    --background:#0d1117;
    --background2:#161b22;

    --primary:#8b5cf6;
    --primary-light:#a855f7;

    --text:#ffffff;
    --text-secondary:#c9d1d9;

    --glass:rgba(255,255,255,.05);

    --border:rgba(255,255,255,.10);

    --shadow:0 0 30px rgba(139,92,246,.35);

    --transition:.35s ease;

}

html{

scroll-behavior:smooth;

}

body{

font-family:'Poppins',sans-serif;

background:#0d1117;

color:white;

}

.navbar{

width:90%;
max-width:1300px;

margin:auto;

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 0;

}

.logo{

font-size:2rem;

}

.logo span{

background:var(--background1)

}

.navbar ul{

display:flex;

list-style:none;

gap:35px;

}

.navbar a{

text-decoration:none;

background:var(--white);

transition:.3s;

}

.navbar a:hover{

color:#8b5cf6;

}

.hero{

width:90%;

max-width:1300px;

margin:auto;

min-height:90vh;

display:flex;

align-items:center;

justify-content:space-between;

gap:80px;

}

.hero-text{

flex:1;

}

.saludo{

color:#8b5cf6;

font-size:1.2rem;

margin-bottom:10px;

}

.hero h1{

font-size:4rem;

line-height:1.1;

margin-bottom:15px;

}

.hero h1 span{

color:#8b5cf6;

}

.hero h3{

font-size:1.8rem;

font-weight:500;

margin-bottom:25px;

}

.descripcion{

font-size:1.1rem;

line-height:1.8;

max-width:650px;

color:#d1d5db;

}

.botones{

display:flex;

gap:20px;

margin-top:40px;

}

.btn{

padding:15px 35px;

border-radius:12px;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.btn-principal{

background:#8b5cf6;

color:white;

}

.btn-principal:hover{

transform:translateY(-5px);

}

.btn-secundario{

border:2px solid #8b5cf6;

color:white;

}

.btn-secundario:hover{

background:#8b5cf6;

}

.hero-img{

flex:1;

display:flex;

justify-content:center;

}

.hero-img img{

width:420px;

border-radius:25px;

border:4px solid #8b5cf6;

box-shadow:

0 0 30px #8b5cf6;

}